---
const assetsUrl =
  process.env.NODE_ENV === 'development'
    ? 'img'
    : 'https://afif-assets.pages.dev/afiiif_github_io/v1';

interface Props {
  products: Array<{
    href: string;
    name: string;
    desc: string;
    dateInfo: string;
    preview: {
      src: string;
      width: number;
      height: number;
    };
    previewPlaceholder?: {
      src: string;
      width: number;
      height: number;
    };
  }>;
}
const { products } = Astro.props;
---

{
  products.map((product, i) => {
    const url =
      !product.href.startsWith('http') && process.env.NODE_ENV === 'development'
        ? `https://afiiif.github.io/${product.href}`
        : product.href;
    return (
      <section class="pt-11 pb-3 sm:pb-6">
        <div class="sm:flex sm:items-center sm:justify-between">
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class="[&:hover_h3]:underline [&:hover_h3]:decoration-dashed [&:hover_h3]:decoration-blue-400 inline-block -my-1 py-1 mr-1"
          >
            <h3 class="inline font-semibold text-lg">{product.name}</h3>{' '}
            <svg width="16" height="16" class="inline w-4 h-4 relative -top-0.5 text-blue-400">
              <use href="#arrow-right-top" />
            </svg>
          </a>
          <div class="text-sm bg-neutral-800 text-white inline-block rounded-md px-2 py-0.5">
            {product.dateInfo}
          </div>
        </div>
        <p class="text-sm pt-1.5 pb-4 text-neutral-400 font-light">
          {product.desc.split('\n').map((paragraph, i) => {
            if (i) {
              return (
                <>
                  <br />
                  {paragraph}
                </>
              );
            }
            return paragraph;
          })}
        </p>
        <div class="rounded-lg overflow-hidden relative border border-neutral-700 group">
          <button type="button" class="block w-full" aria-label={`View ${product.name}`}>
            {product.previewPlaceholder ? (
              <>
                <img
                  id={`img-${i}`}
                  src={`${assetsUrl}/${product.previewPlaceholder.src}`}
                  width={product.previewPlaceholder.width}
                  height={product.previewPlaceholder.height}
                  class="w-full"
                  alt={`${product.name} preview`}
                />
                <div class="absolute bottom-4 right-4 bg-white/90 rounded-md px-3 py-1.5 text-sm appear text-neutral-800 shadow-md">
                  ⏳ &nbsp;Loading animated preview...
                </div>
              </>
            ) : (
              <img
                src={
                  product.preview.src.startsWith('http')
                    ? product.preview.src
                    : `${assetsUrl}/${product.preview.src}`
                }
                width={product.preview.width}
                height={product.preview.height}
                class="w-full"
                alt={`${product.name} preview`}
                loading="lazy"
              />
            )}
          </button>
          <div
            class:list={[
              'absolute inset-0 bg-black/80 hidden',
              'group-focus-within:flex items-center justify-center',
            ]}
          >
            <a
              href={url}
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center gap-2 bg-white text-[#131314] rounded-md px-3.5 py-1.5"
            >
              View{' '}
              <svg width="16" height="16">
                <use href="#arrow-right-top" />
              </svg>
            </a>
          </div>
        </div>
      </section>
    );
  })
}
