---
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta name="twitter:title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta name="twitter:description" content={description} />
    <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />
    <meta name="theme-color" content="#131314" />
    <base href={`${Astro.url.origin}/`} />

    <slot name="head" />
  </head>

  <body>
    <main
      class:list={[
        'px-5 py-14 sm:px-6 md:pt-16 md:pb-24',
        'mx-auto max-w-2xl transition-[padding]',
      ]}
    >
      <slot />
    </main>
  </body>
</html>

<style is:global>
  body {
    color: #e2e8f0;
    background: #131314;
  }
</style>
