---
import Layout from './_layout.astro';
import Products from './_products.astro';

const products = [
  {
    href: 'https://pokemon-awesome.vercel.app/',
    name: 'Pokémon Awesome',
    desc: 'Rank #2 on Google when you search for "compare pokemons".',
    dateInfo: 'July 2024',
    preview: { src: 'pokemon-awesome.webp', width: 600, height: 379 },
    previewPlaceholder: { src: 'pokemon-awesome-placeholder.webp', width: 500, height: 316 },
  },
  {
    href: 'statistiku',
    name: 'Statistiku',
    desc: 'An innovative web-based statistics tool, showcasing my proficiency in math, statistics, & programming. Yes, it really is from more than 5 years ago.',
    dateInfo: 'March 2019',
    preview: { src: 'statistiku.webp', width: 600, height: 379 },
    previewPlaceholder: { src: 'statistiku-placeholder.webp', width: 500, height: 316 },
  },
  {
    href: 'https://www.youtube.com/@afifu',
    name: 'YouTube.com/@afifu',
    desc: 'Well-animated educational contents on software engineering.',
    dateInfo: '2021-2023',
    preview: { src: 'afif-youtube-channel.webp', width: 800, height: 515 },
  },
  {
    href: 'https://marketplace.visualstudio.com/items?itemName=afifu.vscode-js-ts-react-nextjs-snippets',
    name: 'JS/TS React/Next.js Snippets',
    desc: 'Productivity VSCode extension (5K+ installs).',
    dateInfo: 'May 2023',
    preview: { src: 'vscode-js-ts-snippets.webp', width: 680, height: 306 },
  },
  {
    href: 'kode-wilayah-dan-pos',
    name: 'KodeWilayah',
    desc: 'The best website to search Indonesian region code & postal code.',
    dateInfo: 'June 2024',
    preview: { src: 'kode-wilayah-dan-pos.webp', width: 600, height: 379 },
  },
  {
    href: 'https://www.youtube.com/watch?v=q7Lbn_JtLdw',
    name: 'BagiTugas (BPS)',
    desc: "This tool significantly speeds up my coworker's work.",
    dateInfo: 'July 2020',
    preview: { src: 'bagitugas.png', width: 850, height: 403 },
  },
  {
    href: 'spk',
    name: 'National Standard Industrial Classification',
    desc: 'Industrial classification code & definition used by BPS (national statistics office).',
    dateInfo: 'June 2020',
    preview: { src: 'spk.webp', width: 600, height: 379 },
  },
];
---

<Layout
  title="Muhammad Afifudin"
  description="Muhammad Afifudin, a software engineer, designer, content creator, ex-statistician."
>
  <Fragment slot="head">
    <link
      rel="preload"
      as="image"
      type="image/webp"
      href={`/img/${products[0].previewPlaceholder!.src}`}
    />
    <link
      rel="preload"
      as="image"
      type="image/webp"
      href={`/img/${products[1].previewPlaceholder!.src}`}
    />
  </Fragment>

  <main class="px-5 py-14 sm:px-7 md:px-8 md:pt-16 md:pb-24 mx-auto max-w-2xl transition-[padding]">
    <h1 class="font-bold text-2xl sm:text-3xl">Muhammad Afifudin 🇮🇩</h1>
    <p class="pt-0.5 text-neutral-400 text-lg sm:text-2xl font-extralight">
      Software engineer & designer <span class="inline-block">in 1 person.</span>
    </p>

    <p class="pt-8">
      I love creating products that bring real value to people, and sometimes indulge in unique
      projects just for fun. I have a profound understanding of web development on the technical
      side, coupled with a creativity that sets my work apart.
    </p>
    <p class="pt-4">
      I'm a professional remote worker, and currently not interested in on-site work, unless ...
      <i class="bg-neutral-800 px-2 py-0.5 rounded-md text-neutral-400">*some text missing*</i>
    </p>

    <div
      class="mt-20 text-2xl font-extralight flex gap-3.5 items-center text-neutral-400 tracking-wide"
    >
      <h2>PROJECTS</h2>
      <div class="h-px bg-neutral-500 flex-1"></div>
    </div>
    <Products products={products} />
    <section class="pt-10 pb-1">
      <div class="sm:flex sm:items-center sm:justify-between">
        <h3 class="inline font-semibold text-lg">Insaniquarium Fun Project</h3>
        <div class="text-sm bg-neutral-800 text-white inline-block rounded-md px-2 py-0.5">
          Sept 2024
        </div>
      </div>
      <p class="text-sm pt-1.5 pb-4 text-neutral-400 font-light">Click anywhere</p>
      <div
        id="insaniquarium-tank"
        class="rounded-lg overflow-hidden relative border border-neutral-700 aspect-video"
      >
      </div>
    </section>

    <div
      class="mt-24 text-2xl font-extralight flex gap-3.5 items-center text-neutral-400 tracking-wide"
    >
      <h2>TOOLS</h2>
      <div class="h-px bg-neutral-500 flex-1"></div>
    </div>
    <ul
      class:list={[
        'pt-8 flex flex-wrap gap-2 items-center',
        '[&_li:not(:last-child)]:bg-neutral-800 [&_li:not(:last-child)]:px-2 [&_li:not(:last-child)]:py-0.5 [&_li:not(:last-child)]:rounded-md',
      ]}
    >
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>Next JS</li>
      <li>Astro JS</li>
      <li>Vanilla JS</li>
      <li>jQuery</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Tailwind</li>
      <li>Ant Design</li>
      <li>Radix UI</li>
      <li>TanStack-Query</li>
      <li class="text-neutral-400">and many more...</li>
    </ul>

    <div
      class="mt-24 text-2xl font-extralight flex gap-3.5 items-center text-neutral-400 tracking-wide"
    >
      <h2>LINKS</h2>
      <div class="h-px bg-neutral-500 flex-1"></div>
    </div>
    <ul
      class:list={[
        'pt-7',
        '[&_a]:inline-block [&_a]:py-1',
        '[&_a:hover]:underline [&_a:hover]:decoration-dashed [&_a:hover]:decoration-blue-400',
        '[&_span]:text-neutral-400 [&_span]:ml-[3px]',
      ]}
    >
      <li>
        <a href="mailto:afiiifudin@gmail.com">afiiifudin@gmail.com &nbsp;📬</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/m-afifudin/">linkedin.com<span>/m-afifudin</span></a>
      </li>
      <li>
        <a href="https://github.com/afiiif">github.com<span>/afiiif</span></a>
      </li>
      <li>
        <a href="https://x.com/digimushrm">x.com<span>/digimushrm</span></a>
      </li>
      <li>
        <a href="https://dev.to/afiiif">dev.to<span>/afiiif</span></a>
      </li>
    </ul>

    <div class="pb-12"></div>
  </main>
</Layout>

<style is:global>
  a {
    @apply decoration-dashed;
  }

  .appear {
    opacity: 0;
    animation: appear 0.5s linear 0.7s forwards;
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 100%;
    }
  }

  #insaniquarium-tank {
    > div {
      @apply absolute transition-[top,left];
      transition-duration: 3s;
    }
  }

  .fish-swim {
    width: 80px;
    height: 80px;
    background-image: url('/insaniquarium/fish-swim.png');
    background-position-x: 0px;
    background-position-y: var(--pos-y, -80px);
    animation: swim 1.2s steps(9) infinite;
  }
  @keyframes swim {
    from {
      background-position-x: 0px;
    }
    to {
      background-position-x: -720px;
    }
  }

  .fish-turn {
    width: 80px;
    height: 80px;
    background-image: url('/insaniquarium/fish-turn.png');
    background-position-x: 0px;
    background-position-y: var(--pos-y, -80px);
    animation: turn 1.2s steps(9) forwards;
  }
  @keyframes turn {
    from {
      background-position-x: 0px;
    }
    to {
      background-position-x: -720px;
    }
  }
</style>

<script>
  const assetsUrl =
    process.env.NODE_ENV === 'development'
      ? 'img'
      : 'https://afif-assets.pages.dev/afiiif_github_io/v1';

  setTimeout(() => {
    fetch(`${assetsUrl}/pokemon-awesome.webp`).then((res) => {
      res.blob().then((imgBlob) => {
        const $img = document.getElementById('img-0') as HTMLImageElement;
        $img.src = URL.createObjectURL(imgBlob);
        $img.nextElementSibling!.remove();
      });
    });
  }, 500);

  setTimeout(() => {
    fetch(`${assetsUrl}/statistiku.webp`).then((res) => {
      res.blob().then((imgBlob) => {
        const $img = document.getElementById('img-1') as HTMLImageElement;
        $img.src = URL.createObjectURL(imgBlob);
        $img.nextElementSibling!.remove();
      });
    });
  }, 1600);

  const $tank = document.getElementById('insaniquarium-tank') as HTMLDivElement;

  const randBetween = (min: number, max: number) => {
    return Math.floor(Math.random() * (max - min + 1) + min);
  };

  const insaniquarium = (option: { posY?: number } = {}) => {
    const $fish = document.createElement('div');
    const $fishContainer = document.createElement('div');

    if (option.posY) {
      $fish.style.setProperty('--pos-y', `${option.posY}px`);
    }

    const divWidth = 80;
    const divHeight = 80;
    const maxTurnDistance = 80 * 2;

    const getRandomPosition = () => {
      const containerWidth = $tank.clientWidth;
      const containerHeight = $tank.clientHeight;
      const maxX = containerWidth - divWidth;
      const maxY = containerHeight - divHeight;
      const x = randBetween(-0.25 * divWidth, maxX + 0.25 * divWidth);
      const y = randBetween(-0.25 * divHeight, maxY + 0.25 * divHeight);
      return { x, y };
    };

    let position = getRandomPosition();
    let state = 'swim' as 'swim' | 'turn';
    let facing: 'l' | 'r' = Math.random() < 0.5 ? 'l' : 'r';

    const moveFish = () => {
      const nextPosition = getRandomPosition();
      const xDistance = Math.abs(nextPosition.x - position.x);

      if (facing === 'l' && nextPosition.x > position.x) {
        // Turn right
        if (xDistance > maxTurnDistance) {
          nextPosition.x = position.x + maxTurnDistance;
        }
        return setTimeout(() => {
          position = nextPosition;
          state = 'turn';
          render();
          setTimeout(() => {
            facing = 'r';
            state = 'swim';
            render();
            moveFish();
          }, 1200);
        }, 3000);
      }
      if (facing === 'r' && nextPosition.x < position.x) {
        // Turn left
        if (xDistance > maxTurnDistance) {
          nextPosition.x = position.x - maxTurnDistance;
        }
        return setTimeout(() => {
          position = nextPosition;
          state = 'turn';
          render();
          setTimeout(() => {
            facing = 'l';
            state = 'swim';
            render();
            moveFish();
          }, 1200);
        }, 3000);
      }

      position = nextPosition;
      setTimeout(() => {
        render();
        moveFish();
      }, 3000);
    };

    const render = () => {
      console.info({ state, facing, position });
      $fish.className = state === 'swim' ? 'fish-swim' : 'fish-turn';
      $fishContainer.classList.toggle('scale-x-[-1]', facing === 'r');
      $fishContainer.style.left = `${position.x}px`;
      $fishContainer.style.top = `${position.y}px`;
    };

    render();
    moveFish();

    $fishContainer.appendChild($fish);
    $tank.appendChild($fishContainer);
  };

  insaniquarium({ posY: -80 * 2 });
  insaniquarium({ posY: -80 * 3 });
  insaniquarium();
  insaniquarium();
</script>
